<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LoginPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- Generated template for the GoogleLoginComponent component -->
  <div *ngIf="(user | async) || {} as user">
    
    <button ion-button 
      *ngIf="!user.uid"
      (tap)="googleLogin()">
      Entrar com uma conta Google
    </button>

    <div *ngIf="user.uid">
      Você já entrou: {{ user.uid }}
    </div>

  </div>
</ion-content>
