<ion-header>
  <ion-navbar color="primary">
    <ion-title>Propriedade</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bgTransparent">
  <section id="map-canvas"></section>
  <ion-grid id="content">
    <ion-row align-items-center>
      <ion-col>
        <h1 text-center margin-top>{{propriedade?.nome}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p text-justify>{{propriedade?.descricao}}</p>
      </ion-col>
    </ion-row>      
    <ion-row *ngIf="propriedade?.fotos">
      <ion-slides class="image-slider" loop="true" slidesPerView="2">
        <ion-slide *ngFor="let img of propriedade?.fotos">
          <img src="assets/imgs/{{img}}" class="thumb-img" imageViewer/>
        </ion-slide>
      </ion-slides>      
    </ion-row>         
  </ion-grid>
</ion-content>
