page-propriedade {
    #map-canvas {
        min-width: 100px; 
        height: 30%;
        min-height: 100px;
        width: 100%;
    }
    #content {
        height: 70%;
        overflow-y: scroll;
        color: map-get($colors, dark);
    }
    .image-container {
        min-height: 100px;
        background-size: cover;
    }    
}
