page-propriedade {
    h2 {
        font-size: 1.2em;
    }
    #map-canvas {
        min-width: 100px; 
        height: 30%;
        min-height: 100px;
        width: 100%;
    }
    #scroll-area {
        height: 70%;
    }
    #content {
        color: map-get($colors, dark);
    }
    /* ion-slides */
    ion-slide.swiper-slide {
        
    }
    .slide-zoom {
        left: 0;
        margin-left: 0;
    }    
    .image-slider {
        
    }
    .thumb-img {
        padding: 5px;
    }       
}
