<ion-header>
  <ion-navbar>
    <ion-title>Feiras</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let feira of feiras">
    <ion-item (click)="goToFeiraPage(feira?.id)">
        <ion-avatar item-start>
            <img src="{{storage}}/{{feira?.imagem_url}}">
        </ion-avatar>
        <h2>{{feira?.nome}}</h2>
        <p>Funciona {{dayNames[feira?.dia_da_semana]}}</p>
        <button ion-button clear item-end>{{feira?.distancia}} <span *ngIf="feira?.distancia">&nbsp;km</span></button>
    </ion-item>
  </ion-list>
</ion-content>
